.cf {
    @extend %cf;
}

.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

img.left {
    margin-right: 20px;
    margin-bottom: 20px;
}

img.right {
    margin-left: 20px;
    margin-bottom: 20px;
}

.centered {
    display: block;
    margin: 0 auto;
}

.align-center {
    text-align: center;
}