.c-score-screen{
    $root:&;
    position:absolute;
    top:20%;
    right:50%;
    margin-right:-200px;
    z-index:10;
    transition:all 0.3s ease-in-out;

    &__box{
        position:relative;
        text-align:center;
        background-color:$color-white;
        width:100%;
        width:400px;
        padding:2rem;
        border:2px solid $color-black;
        transition:all 0.3s ease-in-out;
    }

    &--small{
        top:10px;
        right:10px;
        margin-right:0;

        #{$root}__box{
            padding:1rem;
        }

        #{$root}__scores{
            display:inline-block;
            li{
                display:inline-block;
            }
        }

        #{$root}__ctrls{
            display:inline-block;
        }

        h1{
            display:none;
        }
        .c-button{
            padding:0.6rem;
        }
    }


    &__ctrls{
        position:relative;
    
        ul{
            font-size:0;
        }

        li{
            display:inline-block;
            padding:0 0.5rem;
        }
    }
}