/*
    Settings: GLOBAL

    These are the base settings used globally across the site.
*/

// Widths
$width-desktop:1024px;
$width-tablet:736px;
$width-mobile:375px;

// Gutter

$gutter-mobile:2rem;
$gutter:3rem;

